body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    background-color: #fafafa;   
}

.main-heading{
    font-size: 45px;
    font-weight: 500;
    color: #04703a;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.login-row{
    border: 2px solid #04703a;
    border-radius: 10px;
    width: 700px;
    height: 320px;
    text-align: center;
}

.main-right-heading{
    font-size: 35px;
    font-weight: 500;
    color: #04703a;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.main-right-sub{
    font-size: 25px;
    font-weight: 500;
    color: #04703a;
    padding-left: 50px;
    display: flex;
    justify-content: center;

}

.login-items{
    font-size: 25px;
    font-weight: 500;
    color: #04703a;
}

.form-input{
    width: 500px;
    margin-left: 100px;   
    outline: 0;
    box-shadow: none;
    text-align: left;
    border-radius: 10px;
    
}