body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-page-first-row{
    width: 1550px;
    height: 60px;
    background-color: #04703a;
}

.main-page-first-col{
    padding-top: 8px;
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}

.main-page-second-col{
    padding-top: 8px;
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
}

.main-page-form-label{
    font-size: 25px;
    color: #04703a;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.main-page-form-input{
    width: 500px;
    margin-left: 400px;
}

.done-button{
    margin-top: 25px;
    margin-left: 550px;
}

.close-button{
    margin-top: 25px;
    margin-left: 15px;
}

.main-page-table{
    width: 1400px;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 30px;
}